{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign up</h2>
<form class="signup" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <!-- {{ form | crispy }} -->
  <button type="submit">Sign up</button>
</form>

<div> 
  <p>
  <a href="{% url 'home' %}">Home</a> |
  <a href="{% url 'account_login' %}">Signin</a> |
  <a href="{% url 'account_signup' %}">Signup</a> |
  <a href="{% url 'account_signup_custom' %}">Signup Custom</a> |
  <a href="{% url 'account_subscribe' %}">Subscribe</a>
  </p>
</div>
{% endblock %}

