{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Subscribe{% endblock %}

{% block content %}
<h2>Subscribe</h2>
<form action="{% url 'subscribe' %}" method="post">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  {{ form | crispy }}
  <button type="submit">Subscribe</button>
</form>

<div> 
  <p>
  <a href="{% url 'home' %}">Home</a> |
  <a href="{% url 'account_login' %}">Signin</a> |
  <a href="{% url 'account_signup' %}">Signup</a> |
  <a href="{% url 'account_subscribe' %}">Subscribe</a>
  </p>
</div>

{% endblock %}